extends layout

block content
  h1 #{title}: #{book.title}
  p #{book.isbn}
  
  if book_copies.length
    p #[strong Delete the copies of the book before attempting to delete the Book]
    
    div(style='margin-left:20px;margin-top:20px')
    
      h4 Copies of the Books
      
      dl
        each copy in book_copies
          dt
            a(href=copy.url) #{copy._id}
          dd #{copy.imprint}
        
  else
    p Do you really want to delete the Book
    
    form(method='POST' action='')
      div.form-group
        input#bookid.form-control(type='hidden' name='bookid' required='true' value=book._id)
      button.btn.btn-primary(type='submit') Delete Book